<div class="col-md-12">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Дата</th>
      <th>Курс USD</th>
      <th>Курс EUR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rate of rates">
      <td>{{ rate.date | date: 'dd/MM/yyyy'}}</td>
      <td [ngClass]="{greenClass: rate.usd == minUsd, redClass: rate.usd == maxUsd}">{{ rate.usd }}</td>
      <td [ngClass]="{greenClass: rate.eur == minEur, redClass: rate.eur == maxEur}">{{ rate.eur }}</td>
    </tr>
    </tbody>
  </table>
</div>
